<% include partials/header %>


<main>
    <h3>Osumgba Chiamaka</h3>
</main>
<div class="profile">
    <div class="user">
        Id.:<p>id</p>
        Name<p>name</p>
        Username: <p>username</p>
        Email: <p>email</p>
        Address: <p>
            Street: <span></span>,
            Suite: <span></span>,
            City: <span></span>,
            Zipcode: <span></span>,
            Geo: <span></span>
        </p>
        Phone: <p>phone</p>
        Website: <p>website</p>
    </div>
    <div class="company">
        Company
        Name<p>Company Name </p>
        <p>Company Name </p>
        <p>Company Name </p>
    </div>

</div>


<% include partials/footer %>